/* 

	Web Color Palette: http://www.washington.edu/marketing/files/2012/09/WebColorPalette1.pdf 

	Purple: http://slayeroffice.com/tools/color_palette/?hex=39275B
	Gold (Original) : http://slayeroffice.com/tools/color_palette/?hex=C79900
	Gold (Bright): http://slayeroffice.com/tools/color_palette/?hex=EBB700

*/

body {
    font-size: 14px;
    font-family: "Helvetica neue", Helvetica, FreeSans, sans-serif;
    color: #333;
}

p {
    line-height: 1.5em;
	}
	
	p a {
		border-bottom: 1px solid #39275B;
		text-decoration: none;
	}
	
	p a:hover {
		border-bottom: none;
		text-decoration: none;
	}

#midcol, rightcol .content p
{
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, #navg, #subnav, #breadcrumb, #badges .label, dt, .eventHead {
    font-family: 'PT Sans Narrow';
    font-weight: normal;
   letter-spacing:1.1px;
}

h2, h2 a
{
	font-weight: bold;
	color: #39275B;
}

h2, #navg
{
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    font-size: 1.1em;
    letter-spacing: 1px;
}

#navg li.top-menu-item .mainNavSubNav
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 85%;
    letter-spacing:normal;
}