/* 
	Web Color Palette: http://www.washington.edu/marketing/files/2012/09/WebColorPalette1.pdf 

	Purple: http://slayeroffice.com/tools/color_palette/?hex=39275B
	Gold (Original) : http://slayeroffice.com/tools/color_palette/?hex=C79900
	Gold (Bright): http://slayeroffice.com/tools/color_palette/?hex=EBB700
*/

body {
	
	background:#30214D; /* Old browsers */
	/*background-image:url(../img/bg-body.png);*/
	background: -moz-linear-gradient(top,  #2B1D44 0%, #30214D 80%);
	/*background-image:url(../img/noise.png);*/ /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(40%,#ffffff));*/ /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #d1d1d1 0%,#ffffff 40%);*/ /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #d1d1d1 0%,#ffffff 40%);*/ /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #d1d1d1 0%,#ffffff 40%);*/ /* IE10+ */
	/*background: linear-gradient(to bottom,  #d1d1d1 0%,#ffffff 40%);*/ /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#ffffff',GradientType=0 );*/ /* IE6-9 */
}

#header, #footerMargin, #autoMargin, #panel
{
    width: 990px;
}

#rotation
{
    position: relative;
    z-index: 2;
    height: 100%;
}

#navg
{
    position: relative;
    z-index: 10;
}

#rightcol
{
    float: right;
    width: 220px;
}
#rightcol img.boxed
{
    width: 210px;
}

#leftcol
{
	float: left;
	width: 200px;
}

#midcol
{
	float: left;
	width: 510px;
	padding-left: 10px;
}

#midcol.extended
{
	width: 725px;
}

#events
{
    /*float: left;
    width: 140px;*/
}

#showcase {
    float: left;
    width: 550px;
	/*border: 1px solid yellow;*/
    /*border-right: 1px solid #ccc;*/
    /*padding: 0 20px 20px 0;*/
    /*margin-right: 20px;*/
}



#rotation .rotation-link img
{
    max-width: 990px;
    width: 100%;
    height: auto;
}

#spotlight
{
    width: 100%;
    height: 200px;
}
#spotlight .newsitem
{
    float: left;
    width: 30%;
}

#midcol-rotation
{
	max-width: 505px;
	width: 100%;
	height: auto;
}

.showcase-tab
{
    padding-right: 10px;
}

#vertnews {
    position: relative;
    float: right;
    margin-left: 30px;
    height: 100%;
    width: 138px;
}
#vertnews h3, #vertnews p
{
    padding: 2px;
}
#vertnews img
{
    width: 130px;
}


#content
{
    /*width: 96%;*/
	/*border: 1px solid magenta;*/
    margin: 0 auto;
	max-width: 990px;
    padding: 20px;
	
}

#visual-portal-wrapper
{
	/*background-color: #241649;*/ 
	
}



#bg {
	background-image:url(../img/bg-boxes.png);
	background-position: top center;
	background-repeat: repeat-x;
	
	position: relative;
	z-index: 1;
}

#nav-bg
{
	background-image: url(../img/nav_bg.gif);
	background-repeat: repeat-x;
	background-position: center 89px;
}
#nav-bg.darker
{
	background-image: url(../img/nav_bg_darker.gif) !important;
}

#header
{
	position: relative;
	margin: 0 auto;
	clear: both;
}

#panel {
	margin: 0 auto;
	background-repeat: repeat-y;
	background: white;
	padding-bottom: 20px;
    box-shadow: 0 0 10px #000;
	position: relative;
    z-index: 10;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/*border-radius: 10px;*/
}

#panel.fixed-adjust
{
    margin-top: 40px;
}

#footerBG
{
	border-top: 1px solid #6B5D84;
	background: -moz-linear-gradient(top,  #1D142E 0%, #2B1D44 80%);
	/*background: #d1d1d1;*/ /* Old browsers */
	/*background: -moz-linear-gradient(top,  #120B25 0%, #241649 20%);*/ /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(40%,#ffffff));*/ /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #d1d1d1 0%,#ffffff 40%);*/ /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #d1d1d1 0%,#ffffff 40%);*/ /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #d1d1d1 0%,#ffffff 40%);*/ /* IE10+ */
	/*background: linear-gradient(to bottom,  #d1d1d1 0%,#ffffff 40%);*/ /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#ffffff',GradientType=0 );*/ /* IE6-9 */
	margin-top: -100px;
	padding-top: 100px;
}

#footerMargin
{
	margin: 0 auto;
	/*background-image: url(../img/footer/footer_w_light.png);*/
	background-repeat: no-repeat;
	background-position: center top;
	/*border: 1px solid magenta;*/
	
}

#footerSkyline
{
	height: 0;
/*	background-image: url(../img/bg-footerSkylineDark.png);
*/	background-repeat: no-repeat;
	background-position: 200px bottom;
	margin: 0 auto 10px auto;
}
#footerSkyline h2
{
	float: left;
	font-size: 20px;
	color: #FFF;
	padding: 75px 0 0 0;
	letter-spacing: -0.03em;
	line-height: 1.2em;
	margin: 15px 0 5px;
	border: 0;
	background-color: transparent;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: none; /* Yup... I hid this too */
}

div#footerShare {
	float:right;
	position:relative;
	top:93px;
	display: none; /* I hide alot of things */
}

#footerlinks ul li {
	/*width:140px;*/
}

#footerlinks li.footercolumn {
	width: 22%;
}

#footerMain {
	
	/*background-image: url(../img/footer/bg.gif);*/
	/*background-color: #2B1D44;
	background-repeat: repeat-x;*/
	/*height: 25px;*/
	margin-top: 10px;
	overflow: hidden;
	clear: both;
	padding-bottom: 40px;
}

#footerLeft {
	max-width:45%;
	/*padding: 10px;*/
	float: left;
	/*padding-left: 40px;*/
}

#footerRight {
	max-width: 45%;
	float: right;
	/*padding-right: 40px;*/
}

#footerCenter {
	max-width: 500px;
	margin: 0 auto;
}

	#footerCenter li {
		border-right: 1px solid #FFF;
	}
	
	#footerCenter li:last-child {
		border-right: none;
	}

#footerMain ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none;
	text-align: center;
}

#footerMain li {
	display: inline;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 16px;
	/*font-weight: bold;*/
	white-space: nowrap;
	
}

#footerMain li a {
	text-decoration: none;
	color: white;
	/*float: left;*/
	padding: 8px 6px 7px 0;
	/*text-transform: uppercase;*/
}

.footerLinkBorder {
    display: inline;
    padding-left: 10px;
	list-style-type:disc;
	
    /*background-image: url(/sites/engr.washington.edu/themes/newcoe/img/footer/leftbar.png);
    background-repeat: no-repeat;
    background-position: 0 6px;*/
}

#subnav
{
	margin: 0;
}

#social a
{
	width: 20%;
    display: block;
    float: left;
}

#front-right-links
{
    background: url(/sites/engr.washington.edu/files/page-front/students/home-student-m-sweater.jpg) 121px top no-repeat;
}
/* other options: sb_wh_shirt_f.jpg */


#front-right-links h3
{
	padding-bottom: 15px;
}

.newsitem
{
	padding: 0 0 20px 0;
}


#coeads img
{
	margin-bottom: 20px;
}

/* fix uw alerts banner z-index */
#uwalert-alertMessage
{
    z-index: 100;
    position: relative;
}

#mobilenavsection {
    display: none;
    margin: 0 auto;
	
	}

#image-hider
{
    position: fixed;
    left: 0;
    top: 200px;
    background-color: white;
    cursor: pointer;
    z-index: 200;
}
#image-hider:hover
{
    background-color: #aaa;
}
